.container {
  width: 960px;
  margin: 0 auto;
}

.new-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 700px;
  background-color: lightgray;
  gap: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

input {
  font-size: 20px;
}

button {
  padding: 5px 10px;
  font-size: 14px;
}
